{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-center mb-4">My Profile</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <form method="POST" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label>Name:</label>
                        <input type="text" class="form-control" value="{{ student[0] }}" disabled>
                    </div>

                    <div class="mb-3">
                        <label>Email:</label>
                        <input type="email" class="form-control" value="{{ student[1] }}" disabled>
                    </div>
 
                    <div class="mb-3">
                        <label>Skills:</label>
                        <input type="text" name="skills" class="form-control" value="{{ student[2] or '' }}" >
                    </div>

                    <div class="mb-3">
                        <label>Education:</label>
                        <input type="text" name="education" class="form-control" value="{{ student[3] or '' }}">
                    </div>

                    <div class="mb-3">
                        <label>Upload Resume:</label>
                        <input type="file" name="resume" class="form-control">
                    </div>

                    {% if student[4] %}
                    <a href="{{ url_for('static', filename='resumes/' + student[4]) }}" target="_blank">
                        View Resume
                    </a>
                    {% endif %}

                    <button class="btn btn-primary w-100">Update Profile</button>

                </form> 

                <a href="{{ url_for('dashboard') }}" class="btn btn-secondary w-100 mt-2">Back to Dashboard</a>
            </div>
        </div>


    </div>
</div>

{% endblock %}