{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow">
            <h3 class="text-center mb-3">Student Registration</h3>
            <form method="POST" action="{{ url_for('register') }}">

                <div class="mb-3">
                    <label>Name:</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
                </div>

                <div class="mb-3">
                    <label>Email:</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                </div>

                <div class="mb-3">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter your password" required>
                </div>

                <button class="btn btn-primary w-100">Register</button>

            </form>

                <hr>

                <p class="text-center">
                    Already have an account?
                    <a href="{{ url_for('login') }}" class="btn btn-success w-100">Login</a>
                </p>

                <p class="text-center">
                    Register as Company?
                    <a href="{{ url_for('company_register') }}" class="btn btn-outline-secondary w-100 mt-2">Company Register</a>
                </p>

            
        </div>
    </div>
</div>

{% endblock %}